<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>个人中心</title>
        <link rel="stylesheet" href="/layui/css/layui.css">
    </head>
    
    <body style="margin-left:5px">
        
        <blockquote class="layui-elem-quote">引用区域的文字</blockquote>
        
<script src="/layui/layui.all.js"></script>
<script type="text/javascript" src="/jquery/jquery-3.2.1.min.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
</script>

<script type="text/javascript">

    function toPage(url){
    	$('#main').attr('src',url)
    }
    

</script>

</body>
</html>