<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <typeAliases>
        <typeAlias alias="Page" type="org.ithang.tools.model.Page"/>
        <typeAlias alias="ActionValues" type="org.ithang.tools.model.ActionValues"/>
        <typeAlias alias="ResultValues" type="org.ithang.tools.model.ResultValues"/>
    </typeAliases>
    
    <plugins>
        <plugin interceptor="org.ithang.tools.model.PagePlugin"></plugin>
    </plugins>
    
</configuration>