<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>个人中心</title>
        <link rel="stylesheet" href="/layui/css/layui.css">
    </head>
    
    <body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">快邦知道管理后台</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="javascript:void(0)" onclick="toPage('/system/data')">控制台</a></li>
      <li class="layui-nav-item"><a href="">用户管理</a></li>
      <li class="layui-nav-item">
          <a href="">产品管理</a>
          <dl class="layui-nav-child">
              <dd><a href="">短信发送</a></dd>
              <dd><a href="">公众号管理</a></dd>
          </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;">网站管理</a>
        <dl class="layui-nav-child">
          <dd><a href="">栏目管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">文章管理</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          ${user.title!"匿名"}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">用户管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">普通用户</a></dd>
            <dd><a href="javascript:;">商家用户</a></dd>
            <dd><a href="javascript:;">管理用户</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">产品管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:void(0);" onclick="toPage('/sys/msg/temp_list')">短信管理</a></dd>
            <dd><a href="javascript:;">公众号管理</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">网站管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">栏目管理</a></dd>
            <dd><a href="javascript:;">文章管理</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">关于</a></li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding:0px;">
        <table border="0" style="margin-left:205px;margin-top:5px;height:100%">
            <tr>
                <td height="100%">
                    <iframe id="main" src="/home" width="1120" height="750" frameborder="0"></iframe>
                </td>
            </tr>
        </table>
        
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script src="/layui/layui.all.js"></script>
<script type="text/javascript" src="/jquery/jquery-3.2.1.min.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
</script>

<script type="text/javascript">

    function toPage(url){
    	$('#main').attr('src',url)
    }
    

</script>

</body>
</html>