<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>系统管理</title>
        <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    </head>
    <body class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <div class="layui-logo"><img src="/images/logo_64.png" class="layui-nav-img"></div>
                <!-- 头部区域（可配合layui已有的水平导航） -->
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item"><a href="javascript:void(0)">首页</a></li>
                    <li class="layui-nav-item"><a href="javascript:void(0)">用户管理</a></li>
                    <li class="layui-nav-item"><a href="javascript:void(0)">资源管理</a></li>
                    <li class="layui-nav-item"><a href="javascript:void(0)">权限管理</a></li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">其它系统</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">邮件管理</a></dd>
                            <dd><a href="">消息管理</a></dd>
                            <dd><a href="">授权管理</a></dd>
                        </dl>
                    </li>
                </ul>
                <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">贤心
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="">基本资料</a></dd>
                            <dd><a href="">安全设置</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">退了</a></li>
                </ul>
            </div>
           
           <div class="layui-body">
              <!-- 内容主体区域 -->
              <iframe id="iframepage" src="/pages/application/index.html" style="padding:0,margin:0" frameborder="0" scrolling="no" width="100%" onload="changeFrameHeight()"></iframe>
           </div>
           <div class="layui-footer">
           aaaaaaaaaa
           </div>
       </div>
       <script type="text/javascript" src="/layui/layui.js"></script>
       <script type="text/javascript">
       


           function changeFrameHeight(){
               var ifm= document.getElementById("iframepage"); 
               ifm.height=document.documentElement.clientHeight;
           }

           window.onresize=function(){  
               changeFrameHeight();  
           } 

       
            //JavaScript代码区域
            layui.use('element', function(){
               var element = layui.element;
  
            });
            
            layui.config({
            	  base: '/modules/' //你存放新模块的目录，注意，不是layui的模块目录
            }).use('index',function(){
            	  //layui.index.hello();
            }); //加载入口
            
       </script>
    </body>
</html>