<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>后台管理</title>
    </head>
    <body bgcolor="#888888">
        aaaaaaaaaaa
    </body>
    <script type="text/javascript">
       /*  layui.use(['layer','carousel'], function(){
            var layer = layui.layer;
           // layer.msg('hello');
            
            
            var carousel = layui.carousel;
			  //建造实例
			  carousel.render({
			    elem: '#test1',
			    width: '100%', //设置容器宽度
			    arrow: 'always', //始终显示箭头
			    //anim: 'updown' //切换动画方式
			  });
            
        });
        
        
            layui.config({
                base: '/tools/' //你存放新模块的目录，注意，不是layui的模块目录
             }).use('LayerForm',function(){
                 var layerForm=layui.LayerForm;
                     layerForm.form({
                                       url:'../auth/login',
                                       method:'get',
                                       items:[
                                              {label:'账号',type:'text',name:'uname'},
                                              {label:'密码',type:'password',name:'upass'}
                                             ],
                                       title:'登陆',
                                       area: ['400px', '300px'],
                                       btn:['登陆','取消'],
                                       yes:function(){
                                           layerForm.submit();
                                           //layerForm.get();
                                       },
                                       btn2:function(){
                                           layer.alert(456)
                                       }
                                     });
                 
             }); //加载入口 */
      
    </script>
</html>